<div class="row" ng-hide="!show" ng-init="show = true" >
 <div class="col-xs-12 col-sm-12 col-lg-12">
 <div class="article">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-lg-6">
       	<span class="h1">Setup Progress</span>
    </div>
    <div class="col-xs-4 col-sm-6 col-lg-6" style="text-align: right">
      <button class="btn btn-text" ng-model="show" ng-click="show = !show">Don't Show It
      </button>
    </div>
  </div>

  <div class="row vcenter">
  	<div class="col-xs-4 col-sm-2 col-lg-2" style="text-align: center">
	  		<progress-arc
	            size="75"
	            stroke="#60D59C"
	            stroke-width="10"
	            complete="0.5"
	            background="#CCC"
	            counter-clockwise="">
	        </progress-arc>
	        <div class="control">
	            <label for="progress">Complete</label>
	            <span>50%</span>
	        </div>
    </div>   
    <div class="col-xs-8 col-sm-10 col-lg-10">  
      <div class="row">	   
	    <div class="col-xs-12 col-sm-4 col-lg-4">
	    	<span class="bullet enabled"><i class="fa fa-check"></i></span>
	       	<span>Accounts Created?</span>
	    </div>
	    <div class="col-xs-12 col-sm-4 col-lg-4">
	    	<span class="bullet enabled"><i class="fa fa-check"></i></span>
	       	<span>Atleast 5 Categories available?</span>
	    </div>
	    <div class="col-xs-12 col-sm-4 col-lg-4">
	    	<span class="bullet disabled"><i class="fa fa-check"></i></span>
	       	<span>Transactions Created?</span>
	    </div>
	  </div>  

	  <div class="row">	   
	    <div class="col-xs-12 col-sm-4 col-lg-4">
	    	<span class="bullet disabled"><i class="fa fa-check"></i></span>
	       	<span>Transactions Created?</span>
	    </div>
	    <div class="col-xs-12 col-sm-4 col-lg-4">
	    	<span class="bullet disabled"><i class="fa fa-check"></i></span>
	       	<span>User Preferences are set?</span>
	    </div>
	  </div>  
	  <!-- <div class="row">       
	  	<div class="col-xs-2 col-sm-1 col-lg-1">
	  		<span class="bullet disabled"><i class="fa fa-check"></i></span>
	  	</div>	
	    <div class="col-xs-10 col-sm-5 col-lg-5">
	       	<span>Created Transactions?
	       		You have 0 transactions</span>
	    </div>
	    <div class="col-xs-2 col-sm-1 col-lg-1">
	  		<span class="bullet disabled"><i class="fa fa-check"></i></span>
	  	</div>
	    <div class="col-xs-10 col-sm-5 col-lg-5">
	    	<span>User Preferences are set?
	       		You have not set your preferences</span>
	    </div>
	  </div>
	 </div> -->
  </div>  
  </div>    
 </div>
</div>